<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}/assets/css/emacs.css">

</head>
<body>

    <header>

        <div class="title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></div>

        <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}{{ site.aurl }}">{{ site.atitle }}</a></li>
            <li><a href="{{ site.baseurl }}{{ site.burl }}">{{ site.btitle }}</a></li>
            <li><a href="{{ site.baseurl }}{{ site.curl }}">{{ site.ctitle }}</a></li>
        </ul>
        </div>

    </header>
    
    <img src="{{ site.baseurl }}/assets/img/i-1.jpg">
