<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="Z5g_QAKe-w7GElQlZSs9F8Qk_mkkItzP4NlzyBG7vGU" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title == null %}{{ site.title }}{% else %}{{ page.title }}{% endif %}</title>
    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}/assets/css/emacs.css">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">
     <!-- Twitter head etiketleri -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.title == null %}{{ site.title }}{% else %}{{ page.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description == null %}{{ site.title }}{% else %}{{ page.description }}{% endif %}">
    <meta name="twitter:image" content="https://mtnzorlu.github.io/assets/img/i-1.jpg">
    {% seo %}
    
</head>
<body>

    <header>

        <div class="title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></div>

        <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}{{ site.aurl }}">{{ site.atitle }}</a></li>
            <li><a href="{{ site.baseurl }}{{ site.burl }}">{{ site.btitle }}</a></li>
            <li><a href="{{ site.baseurl }}{{ site.curl }}">{{ site.ctitle }}</a></li>
        </ul>
        </div>

    </header>    
    
    <div class="container">

    <img id="ust" src="{{ site.baseurl }}/assets/img/i-1.jpeg">
        
    </div>
