<div class="prc">

<h1 class="info">{{ site.info }}</h1>

<p>More of my accumulated notes, thoughts and writings; personal blog where it is kept together with the understanding 
that it should not be lost, be useful.</p>

<p>Sometimes a short, simple explanation. Sometimes long, detailed translations can be found.</p>

<figure>	
	<img src="{{ site.baseurl }}/assets/img/tech3.jpg" alt="klavye">
	<figcaption>Düz, beyaz yazı aracı.</figcaption>
</figure>

</div>

<div class="prc">

<h1 class="info">{{ site.quotes }}</h1>

<pre>
İnsan topraktan yaratılmıştır, bu sebeple de aslına benzer. Nasıl ki her toprak her bitkiyi bitirmeye elverişli değilse, her insan da her zanaate ve ilme kabiliyetli değildir.

Vaaz ettiğinde, anlattığında kısa tutmaya çalış, çünkü çok sözün bir kısmı diğerini unutturur. 

Hz. Ebubekir (r.a)
</pre>

<pre>	
Sırrını iki kimseden başkası bilmesin… 
Rabbin ve Sen 

Dünyada iki kişinin rızasını almakta hırslı ol… 
Annen ve Baban

Sıkıntı ve musibetlere karşı iki şey ile Rabbine sığın… 
Sabır ve Namaz 

İki şeyden hiç korkma… 
Rızık ve Ecel 

Hz. Ali (r.a)
</pre>

</div>