<div class="prc">

<h1 class="info">{{ site.info }}</h1>

<p>Daha çok birikmiş notlarımın, düşüncelerimin ve yazılarımın yer aldığı; kaybolmasın, istifâdeye medâr olsun anlayışıyla 
	bir arada tutulduğu şahsî blog.</p>

<p>Kimi zaman kısa, sâde bir anlatım. Bazen uzun, detaylı çeviri yazılar bulunabilir.</p>

<figure>	
	<img src="{{ site.baseurl }}/assets/img/tech3.jpg" alt="klavye">
	<figcaption>Düz, beyaz yazı aracı.</figcaption>
</figure>

</div>

<div class="prc">

<h1 class="info">{{ site.quotes }}</h1>

<pre>
İnsan topraktan yaratılmıştır, bu sebeple de aslına benzer. Nasıl ki her toprak her bitkiyi bitirmeye elverişli değilse, her insan da her zanaate ve ilme kabiliyetli değildir.

Vaaz ettiğinde, anlattığında kısa tutmaya çalış, çünkü çok sözün bir kısmı diğerini unutturur. 

Hz. Ebubekir (r.a)
</pre>

<pre>
Sırrını iki kimseden başkası bilmesin… 
Rabbin ve Sen 

Dünyada iki kişinin rızasını almakta hırslı ol… 
Annen ve Baban

Sıkıntı ve musibetlere karşı iki şey ile Rabbine sığın… 
Sabır ve Namaz 

İki şeyden hiç korkma… 
Rızık ve Ecel 

Hz. Ali (r.a)
</pre>

</div>
